.navigation-bar .navbar
{
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.navigation-bar .navbar .navbar-nav a
{
    color: whitesmoke;
}

.navigation-bar .navbar .navbar-nav a.active
{
    color: skyblue;
}